<%= form_for(@kanji) do |f| %>
  <% if @kanji.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kanji.errors.count, "error") %> prohibited this kanji from being saved:</h2>

      <ul>
      <% @kanji.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :literal %><br />
    <%= f.text_field :literal %>
  </div>
  <div class="field">
    <%= f.label :onyomi %><br />
    <%= f.text_field :onyomi %>
  </div>
  <div class="field">
    <%= f.label :kunyomi %><br />
    <%= f.text_field :kunyomi %>
  </div>
  <div class="field">
    <%= f.label :nanori %><br />
    <%= f.text_field :nanori %>
  </div>
  <div class="field">
    <%= f.label :meaning %><br />
    <%= f.text_field :meaning %>
  </div>
  <div class="field">
    <%= f.label :stroke %><br />
    <%= f.number_field :stroke %>
  </div>
  <div class="field">
    <%= f.label :jlpt %><br />
    <%= f.number_field :jlpt %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
