<h1>Listing kanji</h1>
<%= if @var then simple_format @var.to_yaml end %>
<table>
  <tr>
    <th>Literal</th>
    <th>Onyomi</th>
    <th>Kunyomi</th>
    <th>Nanori</th>
    <th>Meaning</th>
    <th>Stroke</th>
    <th>Jlpt</th>
  </tr>

<% @kanjis.each do |kanji| %>
  <tr>
    <td><%= kanji.literal %></td>
    <td><%= kanji.onyomi %></td>
    <td><%= kanji.kunyomi %></td>
    <td><%= kanji.nanori %></td>
    <td><%= kanji.meaning %></td>
    <td><%= kanji.stroke %></td>
    <td><%= kanji.jlpt %></td>
  </tr>
<% end %>
</table>
