<!DOCTYPE html>
<html>
<head>
  <title>Learn Kanji</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta http-equiv="refresh" content="">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width,initial-scale=1">

  <%= javascript_tag do %>
    <% if current_user %>
      var USER = <%=raw current_user.as_json(root: false).to_json %>;
    <% else %>
      var USER = {};
    <% end %>
  <% end %>

</head>
<body>

  <%= flash[:notice] %>
  <%= yield %>

</body>
</html>
