<!DOCTYPE html>
<html>
<head>
  <title>Learn Kanji</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta http-equiv="refresh" content="">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width,initial-scale=1">

  <%= javascript_tag do %>
    <% if current_user %>
      var USER = <%=raw current_user.as_json(root: false).to_json %>;
    <% else %>
      var USER = {};
    <% end %>
  <% end %>

</head>
<body>
<div id="app">
  <div id="control" class="clearfix">
    <div id="title">Kanji Practice</div>
    <div id="user"><a id="user-name" href="#"></a></div>
    <div id="learnt"></div>
  </div>
  <%= flash[:notice] %>
  <%= yield %>
</div>

<%# Underscore templates use <@ instead of <% to play nice with erb  #%>
<script type="text/template" id="card-template">
  <div class="literal"><@= literal @></div>
  <div class="meaning"><@= meaning @></div>
  <div class="onyomi"><@= onyomi @></div>
  <div class="kunyomi"><@= kunyomi @></div>
</script>

<script type="text/template" id="jlpt-dialogue-template">
  <h2 class="title">Select a JLPT level to start with or sign in</h2>
  <div class="options">
    <div class="button box">Level 1 (hardest)</div>
    <div class="button box">Level 2</div>
    <div class="button box">Level 3</div>
    <div class="button box">Level 4 (easiest)</div>
  </div>
</script>

<script type="text/template" id="test-template">
  <div class="question"></div>
  <div class="options"></div>
</script>

</body>
</html>
