<!DOCTYPE html>
<html>
<head>
  <title>Learn Kanji</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta http-equiv="refresh" content="">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width,initial-scale=1">

  <%= javascript_tag do %>
    <% if current_user %>
      var USER = <%=raw current_user.as_json(root: false).to_json %>;
    <% else %>
      var USER = {};
    <% end %>
  <% end %>

</head>
<body>
<div id="app">
  <div id="control" class="clearfix">
    <div id="title"><a href="/#">Kanji Practice</a></div>
    <div id="user"></div>
    <div id="learnt"></div>
  </div>
  <div id="messages-wrapper"><div id="messages"></div></div>
  <%= flash[:notice] %>
  <%= yield %>
</div>

<%#
  Underscore templates use <@ instead of <% to play nice with erb
  </script> comment added for code highlighting fix in gedit
#%>
<script type="text/template" id="card-template"><%# </script> #%>
  <div class="literal"><@= literal @></div>
  <div class="meaning"><@= meaning @></div>
  <div class="reading">
    <div class="onyomi"><@= onyomi @></div>
    <div class="kunyomi"><@= kunyomi @></div>
  </div>
</script>

<script type="text/template" id="jlpt-dialogue-template"><%# </script> #%>
  <h2 class="title"><@= title @></h2>
  <div class="options">
    <div class="button box">Level 1 (hardest)</div>
    <div class="button box">Level 2</div>
    <div class="button box">Level 3</div>
    <div class="button box">Level 4 (easiest)</div>
  </div>
</script>

<script type="text/template" id="test-template"><%# </script> #%>
  <div class="question"></div>
  <div class="options"></div>
</script>

<script type="text/template" id="user-template"><%# </script> #%>
  <@ if (user.isSignedIn()) { @>
    <a class="name" href="#/settings"><@= user.get('name') @></a>
  <@ } else { @>
    <a class="sign-in" href="#/sign-in">Sign in or create account</a>
  <@ } @>
</script>

<script type="text/template" id="user-sign-in-template"><%# </script> #%>
  <h3>Sign in</h3>
  <form accept-charset="UTF-8" action="/auth/identity/callback" id="sign-in" method="post">
    <div class="field">
      <input id="auth_key" name="auth_key" type="text" placeholder="Email" />
    </div>
    <div class="field">
      <input id="password" name="password" type="password" placeholder="Password" />
    </div>
    <div class="actions">
      <input name="commit" type="submit" value="Login" />
    </div>
  </form>

  <h3>Create account</h3>
  <form accept-charset="UTF-8" action="/auth/identity/register" id="register" method="post">
    <div class="field">
      <input id="name" name="name" type="text" placeholder="Name" />
    </div>
    <div class="field">
      <input id="email" name="email" type="text" placeholder="Email" />
    </div>
    <div class="field">
      <input id="password" name="password" type="password" placeholder="Password" />
    </div>
    <div class="field">
      <input id="password_confirmation" name="password_confirmation" type="password" placeholder="Password confirmation" />
    </div>
    <div class="actions">
      <input name="commit" type="submit" value="Register" />
    </div>
  </form>

  <p><a href="#">No thanks</a></p>
</script>

<script type="text/template" id="user-settings-template"><%# </script> #%>
  <@ if (App.currentUser.isSignedIn()) { @>
    <p><a class="sign-out" href="/signout">Sign out</a></p>
  <@ } @>
</script>

</body>
</html>
